.svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.sprite-phonecall {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.sprite-instagramlogo {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.sprite-facebook {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}

