.svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.sprite-whcs3 {
  width: 38px;
  height: 32px;
  background-position: 0 0;
}
.sprite-wchs1 {
  width: 29px;
  height: 32px;
  background-position: -48px 0;
}
.sprite-wchs2 {
  width: 40px;
  height: 32px;
  background-position: -96px 0;
}

